@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(32, 32, 34) 0%, rgb(48, 45, 51) 100%);
  color: white;
  font-family: "Nunito", sans-serif;
}

body[data-aos-delay="11000"] [data-aos],
[data-aos][data-aos][data-aos-delay="11000"] {
  transition-delay: 12000ms;
}

#header-content {
  min-height: 10vh;
  background-color: #302d33;
  position: fixed;
  z-index: 100;
}

#header-content-responsivity {
  display: none;
  min-height: 10vh;
  background-color: #302d33;
  position: fixed;
  z-index: 100;
}

#header {
  min-height: 10vh;
}

#nav-logo {
  width: 250px;
  height: 60px;
  margin-bottom: 5px;
}

.head-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  transition: 0.7s;
}
.head-btn:hover {
  opacity: 0.5;
}

#content {
  display: flex;
  flex-direction: column;
}

.sec-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15vh;
}

.title-content {
  color: #19f0ff;
  font-family: "Nunito", sans-serif;
  margin-top: 5vh;
  margin-left: 10vh;
  font-size: 42pt;
  font-weight: 600;
  text-shadow: 0.02em 0.02em 0.1em #19f0ff;
}

.text-content {
  color: #cacaca;
  font-size: 18pt;
  margin-left: 5vh;
  text-shadow: 0.02em 0.02em 3em #19f0ff;
}

#presentation-sec {
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  justify-content: start;
  gap: 5vw;
  margin-top: 8vh;
}

#presentation-content {
  width: 50vw;
  height: auto;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#projects-btn {
  align-self: center;
  margin-top: 10vh;
}

#title-presentation::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaTitle 0.7s 5;
}

#text-presentation-p1::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaText 0.7s 3.5s 5;
}

#text-presentation-p2::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaText 0.7s 7s infinite;
}

@keyframes piscaTitle {
  0%, 100% {
    color: #19f0ff;
    text-shadow: 0.02em 0.02em 0.1em #19f0ff;
    opacity: 1;
  }
  50% {
    color: transparent;
    text-shadow: none;
    opacity: 0;
  }
}
@keyframes piscaText {
  0%, 100% {
    color: #cacaca;
    text-shadow: 0.02em 0.02em 3em #19f0ff;
    opacity: 1;
  }
  50% {
    color: transparent;
    text-shadow: none;
    opacity: 0;
  }
}
#button-cv {
  text-decoration: none;
  background-color: transparent;
  color: #19f0ff;
  font-weight: 600;
  border: 2px solid #19f0ff;
  border-radius: 5px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  transition: 0.7s;
  max-width: 200px;
  align-self: center;
  margin-top: 5vh;
}
#button-cv:hover {
  background-color: #19f0ff;
  border-color: transparent;
  color: #202022;
}

#image-presentation {
  width: 30vw;
  height: 70vh;
  box-shadow: 0.1em 0.1em 1em #19f0ff;
  border-radius: 20px;
  margin-top: 5vh;
}

#title-presentation {
  margin-bottom: 5vh;
  margin-left: 5vh;
}

#stack-sec {
  min-height: 90vh;
  padding-top: 10vh;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

#title-stack {
  margin-bottom: 2vh;
}

.div-stack-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
}

.stack-div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #cacaca;
  font-weight: 600;
  border: 2px solid #cacaca;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0.1em 0.1em 1em #19f0ff;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: 1s;
}
.stack-div:hover {
  background-color: #cacaca;
  border-color: transparent;
  color: #202022;
}
.stack-div:hover .exp-ling {
  visibility: visible;
  text-align: start;
  padding-left: 5px;
  color: #cacaca;
}
.stack-div .exp-ling {
  visibility: hidden;
  font-size: 13pt;
}

.text-cont {
  display: flex;
  justify-content: center;
}

#project-sec {
  min-height: 90vh;
  padding-top: 10vh;
}

#img-project {
  position: absolute;
  top: 200vh;
  z-index: -100;
  height: 90%;
  width: 100%;
  opacity: 0.06;
}

#carousel {
  color: #fff;
  text-shadow: 0.1em 0.1em 1em #cacaca;
  box-shadow: 0.1em 0.1em 1em #19f0ff;
  border-radius: 15px;
  width: 55%;
  margin-top: -10vh;
}
#carousel div {
  border-radius: 15px;
}

.img-projects {
  width: 100%;
  height: 62.2vh;
  transition: 0.5s;
}
.img-projects:hover {
  opacity: 0.5;
}

.link-project {
  text-decoration: none;
  color: #fff;
  text-shadow: 0.1em 0.1em 1em #cacaca;
}
.link-project:hover {
  color: #00bbc9;
  text-shadow: 0.1em 0.1em 1em #19f0ff;
}

#contact-sec {
  min-height: 110vh;
  padding-top: 10vh;
}

#contact-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

#contact-ways {
  background-image: url("../../images/fundo 1.jpg");
  min-width: 50%;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0.1em 0.1em 1em #19f0ff;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  text-shadow: 0.1em 0.1em 1em #cacaca;
}

.email-cel {
  display: flex;
}

#email {
  margin-right: 10px;
}

#phone {
  margin-right: 10px;
}

.copy {
  color: #cacaca;
  cursor: pointer;
}
.copy:hover {
  color: #19f0ff;
  text-shadow: 0.1em 0.1em 0.5em #cacaca;
}

.checked {
  color: #19f0ff;
  cursor: pointer;
}

#contact-networks {
  min-width: 50%;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
}
#contact-networks a {
  text-decoration: none;
  color: #fff;
  font-size: 15pt;
  transition: 1s;
}
#contact-networks a:hover {
  color: #00bbc9;
  text-shadow: 0.1em 0.1em 1em #19f0ff;
}

#link-wpp {
  text-decoration: none;
  background-color: transparent;
  color: #cacaca;
  font-weight: 600;
  border: 2px solid #cacaca;
  border-radius: 5px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  transition: 0.7s;
  max-width: 200px;
  align-self: center;
  margin-top: 5vh;
  text-shadow: 0.02em 0.02em 3em #cacaca;
}
#link-wpp:hover {
  background-color: #cacaca;
  border-color: transparent;
  color: #202022;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.02em 0.02em 3em #cacaca;
}

@media (max-width: 425px) {
  #header-content {
    display: none;
  }
  #header-content-responsivity {
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 7vh;
  }
  #presentation-sec {
    margin-top: 0vh;
    width: 100vw;
    height: 110vh;
  }
  #presentation-content {
    width: 100vw;
    height: 100vh;
    padding-right: 20px;
  }
  .title-content {
    font-size: 30pt;
  }
  .text-content {
    font-size: 15pt;
  }
  #image-presentation {
    display: none;
  }
  .div-stack-divs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
  }
  #title-project {
    font-size: 24pt;
    margin-left: 5vh;
  }
  #img-project {
    display: none;
  }
  #carousel {
    width: 98vw;
  }
  #title-contact {
    margin-bottom: -10vh;
    margin-left: 15vh;
  }
  #contact-content {
    width: 100vw;
  }
  #contact-ways {
    min-width: 97vw;
    height: 70vh;
    justify-content: center;
  }
  .email-cel {
    font-size: 12pt;
    flex-wrap: wrap;
  }
  #link-wpp {
    font-size: 10pt;
  }
}

/*# sourceMappingURL=style.css.map */
