/* General settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container settings */
.container {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header settings */
.header {
  width: 100%;
  height: 90px;
  background-color: #585656;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}

.title-buttons {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.button {
  width: auto;
  height: auto;
  padding: 10px;
  border-color: transparent;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  transition: 0.5s;
}

.button:hover {
  border-bottom-color: #000000;
}

/* content settings */
.main-content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "title title title title"
    "cntnt cntnt cntnt side";
}

.title-content {
  grid-area: title;
  text-align: center;
  font-size: 25px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}

.items-content {
  width: 100%;
  height: auto;
  grid-area: cntnt;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: flex-start;
  padding: 20px;
}

.item {
  width: 280px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.5s;
}

.item:hover {
  border-color: #585656;
}

.side-content {
  grid-area: side;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #585656;
}

.side-title {
  width: 250px;
  height: 30px;
  align-self: center;
  font-size: 30px;
}

.side-items {
  width: 300px;
  height: auto;
  min-height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.5s;
}

.side-items:hover {
  border-color: #ffffff;
}

/* Footer settings */
.footer {
  width: 100%;
  height: 90px;
  background-color: #585656;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin-top: 30px;
}

.footer-button {
  width: auto;
  height: auto;
  padding: 10px;
  border-color: transparent;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

/* Images and text settings */

.logoonebitcode {
  width: 220px;
  height: auto;
}

.image-content {
  width: 100%;
  height: auto;
}

.text-content {
  width: 100%;
  height: auto;
  font-size: 20px;
}

.text-item {
  text-transform: uppercase;
}

.side-images {
  width: 270px;
  height: auto;
}

.side-text {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

/* Responsividade */

@media (max-width: 740px) {
  .header {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .main-content {
    min-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "title title title"
      "cntnt cntnt cntnt"
      "side  side  side";
  }

  .items-content {
    min-width: 300px;
  }

  .side-images {
    width: 200px;
    height: auto;
  }

  .footer {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
