/* Configurações gerais */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  /* --primary-color: #4dff91; */
  --primary-color: #ff5e00;
  --error-color: #ff0043;
}

/* Estruturação e configuração básica */
.container {
  width: 100vw;
  height: 110vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 90vw;
  height: 50vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40vh;
  margin-top: -18vh;
}

/* Cabeçalho */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-title {
  align-self: center;
}

#line-title {
  color: var(--font-color);
  margin-bottom: 10px;
}

/* Inputs do jogo */
.inputs-game {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.players-name {
  display: flex;
  flex-direction: column;
}

#name {
  height: 25px;
  background-color: #ff5e00;
  color: var(--font-color);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0 5px 0;
  opacity: 0.8;
}

#setup-btn {
  width: 100px;
  height: 70px;
  background-color: var(--primary-color);
  color: var(--font-color);
  border: solid 2px var(--bg-color);
  border-radius: 10px;
  transition: 0.5s;
}

#setup-btn:hover {
  opacity: 0.5;
}

.names-players {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-players {
  list-style: none;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-theme {
  width: 100px;
  height: 70px;
  background-color: var(--bg-color);
  color: var(--font-color);
  border: solid 2px var(--font-color);
  border-radius: 10px;
  transition: 0.5s;
}

#btn-theme:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

/* Status do jogo */
.status {
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
}

/* Área do jogo */
.game-area {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-area {
  width: 54vw;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.btn-game {
  width: 18vw;
  height: auto;
  background-color: var(--bg-color);
  color: transparent;
  font-size: 50px;
  border: solid 5px var(--primary-color);
  transition: 0.8s;
}

.btn-game:hover {
  background-color: var(--font-color);
  opacity: 0.8;
}

#btn1 {
  border-top: none;
  border-left: none;
  border-top-left-radius: 10px;
}

#btn2 {
  border-top: none;
}

#btn3 {
  border-top: none;
  border-right: none;
  border-top-right-radius: 10px;
}

#btn4 {
  border-left: none;
}

#btn6 {
  border-right: none;
}

#btn7 {
  border-bottom: none;
  border-left: none;
  border-bottom-left-radius: 10px;
}

#btn8 {
  border-bottom: none;
}

#btn9 {
  border-bottom: none;
  border-right: none;
  border-bottom-right-radius: 10px;
}
