body {
  background-color: $bg-color;
  color: white;
  font-family: "Nunito", sans-serif;
}

#header-content {
  min-height: 10vh;
  background-color: $nav-color;
  position: fixed;
  z-index: 100;
}

#nav-title {
  color: $nav-text-color;
}

.head-btn {
  background-color: transparent;
  color: $nav-text-color;
  border: none;
  transition: 0.7s;

  &:hover {
    opacity: 0.5;
  }
}

#content {
  section {
    min-height: 100vh;
    padding-top: 10vh;
  }
}

#image-back {
  position: absolute;
  top: 10vh;
  opacity: 0.1;
  height: 90%;
  width: 100%;
}

#title-presentation {
  position: relative;
}

#text-presentation {
  position: relative;
}

.sec-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15vh;
  border-bottom: solid 2px $border-color;
}

.title-content {
  color: $btn-aux-color;
  font-family: "Montserrat", sans-serif;
  margin-top: 10vh;
  margin-left: 20vh;
  font-size: 42pt;
}

.text-content {
  align-self: center;
  color: $text-color;
  font-size: 18pt;
}
