body {
  background: linear-gradient(
    90deg,
    rgba(32, 32, 34, 1) 0%,
    rgba(48, 45, 51, 1) 100%
  );
  color: white;
  font-family: "Nunito", sans-serif;
}

body[data-aos-delay="11000"] [data-aos],
[data-aos][data-aos][data-aos-delay="11000"] {
  transition-delay: 12000ms;
}

// Header content
#header-content {
  min-height: 10vh;
  background-color: $nav-color;
  position: fixed;
  z-index: 100;
}

#header-content-responsivity {
  display: none;
  min-height: 10vh;
  background-color: $nav-color;
  position: fixed;
  z-index: 100;
}

#header {
  min-height: 10vh;
}

#nav-logo {
  width: 250px;
  height: 60px;
  margin-bottom: 5px;
}

.head-btn {
  background-color: transparent;
  color: $nav-text-color;
  border: none;
  transition: 0.7s;

  &:hover {
    opacity: 0.5;
  }
}

// Main content
#content {
  display: flex;
  flex-direction: column;
}

.sec-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15vh;
}

.title-content {
  color: $btn-aux-color;
  font-family: "Nunito", sans-serif;
  margin-top: 5vh;
  margin-left: 10vh;
  font-size: 42pt;
  font-weight: 600;
  text-shadow: 0.02em 0.02em 0.1em $btn-aux-color;
}

.text-content {
  color: $text-color;
  font-size: 18pt;
  margin-left: 5vh;
  text-shadow: 0.02em 0.02em 3em $btn-aux-color;
}

// Presentation
#presentation-sec {
  height: 90vh;
  padding-top: 10vh;
  display: flex;
  justify-content: start;
  gap: 5vw;
  margin-top: 8vh;
}

#presentation-content {
  width: 50vw;
  height: auto;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#projects-btn {
  align-self: center;
  margin-top: 10vh;
}

#title-presentation::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaTitle 0.7s 5;
}

#text-presentation-p1::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaText 0.7s 3.5s 5;
}

#text-presentation-p2::after {
  content: " | ";
  color: transparent;
  text-shadow: none;
  animation: piscaText 0.7s 7s infinite;
}

@keyframes piscaTitle {
  0%,
  100% {
    color: $btn-aux-color;
    text-shadow: 0.02em 0.02em 0.1em $btn-aux-color;
    opacity: 1;
  }
  50% {
    color: transparent;
    text-shadow: none;
    opacity: 0;
  }
}

@keyframes piscaText {
  0%,
  100% {
    color: $text-color;
    text-shadow: 0.02em 0.02em 3em $btn-aux-color;
    opacity: 1;
  }
  50% {
    color: transparent;
    text-shadow: none;
    opacity: 0;
  }
}

#button-cv {
  text-decoration: none;
  background-color: transparent;
  color: $btn-aux-color;
  font-weight: 600;
  border: 2px solid $btn-aux-color;
  border-radius: 5px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  transition: 0.7s;
  max-width: 200px;
  align-self: center;
  margin-top: 5vh;

  &:hover {
    background-color: $btn-aux-color;
    border-color: transparent;
    color: $bg-color;
    // opacity: 0.5;
  }
}

#image-presentation {
  width: 30vw;
  height: 70vh;
  box-shadow: 0.1em 0.1em 1em $btn-aux-color;
  border-radius: 20px;
  margin-top: 5vh;
}

#title-presentation {
  margin-bottom: 5vh;
  margin-left: 5vh;
}

// Stack
#stack-sec {
  min-height: 90vh;
  padding-top: 10vh;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

#title-stack {
  margin-bottom: 2vh;
}

.div-stack-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
}

.stack-div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: $text-color;
  font-weight: 600;
  border: 2px solid $text-color;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0.1em 0.1em 1em $btn-aux-color;
  width: 100%;
  height: 50px;
  text-align: center;
  transition: 1s;

  &:hover {
    background-color: $text-color;
    border-color: transparent;
    color: $bg-color;

    .exp-ling {
      visibility: visible;
      text-align: start;
      padding-left: 5px;
      color: $text-color;
    }
  }

  .exp-ling {
    visibility: hidden;
    font-size: 13pt;
  }
}

.text-cont {
  display: flex;
  justify-content: center;
}

// #last-leaning {
//   visibility: hidden;
// }

// Projects
#project-sec {
  min-height: 90vh;
  padding-top: 10vh;
}

#img-project {
  position: absolute;
  top: 200vh;
  z-index: -100;
  height: 90%;
  width: 100%;
  opacity: 0.06;
}

#carousel {
  color: $nav-text-color;
  text-shadow: 0.1em 0.1em 1em $text-color;
  box-shadow: 0.1em 0.1em 1em $btn-aux-color;
  border-radius: 15px;
  width: 55%;
  margin-top: -10vh;

  div {
    border-radius: 15px;
  }
}

.img-projects {
  width: 100%;
  height: 62.2vh;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

.link-project {
  text-decoration: none;
  color: $nav-text-color;
  text-shadow: 0.1em 0.1em 1em $text-color;

  &:hover {
    color: $btn-color;
    text-shadow: 0.1em 0.1em 1em $btn-aux-color;
  }
}

// Contact
#contact-sec {
  min-height: 110vh;
  padding-top: 10vh;
}

#contact-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

#contact-ways {
  background-image: url("../../images/fundo\ 1.jpg");
  min-width: 50%;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: 0.1em 0.1em 1em $btn-aux-color;
  border-radius: 20px;
  padding: 20px;
  color: $nav-text-color;
  text-shadow: 0.1em 0.1em 1em $text-color;
}

.email-cel {
  display: flex;
}

#email {
  margin-right: 10px;
}

#phone {
  margin-right: 10px;
}

.copy {
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: $btn-aux-color;
    text-shadow: 0.1em 0.1em 0.5em $text-color;
  }
}

.checked {
  color: $btn-aux-color;
  cursor: pointer;
}

#contact-networks {
  min-width: 50%;
  flex-basis: auto;
  display: flex;
  justify-content: center;
  gap: 50px;

  a {
    text-decoration: none;
    color: $nav-text-color;
    font-size: 15pt;
    transition: 1s;

    &:hover {
      color: $btn-color;
      text-shadow: 0.1em 0.1em 1em $btn-aux-color;
    }
  }
}

#link-wpp {
  text-decoration: none;
  background-color: transparent;
  color: $text-color;
  font-weight: 600;
  border: 2px solid $text-color;
  border-radius: 5px;
  padding: 5px;
  font-family: "Nunito", sans-serif;
  transition: 0.7s;
  max-width: 200px;
  align-self: center;
  margin-top: 5vh;
  text-shadow: 0.02em 0.02em 3em $text-color;

  &:hover {
    background-color: $text-color;
    border-color: transparent;
    color: $bg-color;
    // opacity: 0.5;
  }
}

// Footer
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.02em 0.02em 3em $text-color;
}

// Responsividade
@media (max-width: 873px) {
  .div-stack-divs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
  }
}

@media (max-width: 798px) {
  .title-content {
    font-size: 30pt;
  }

  .text-content {
    font-size: 15pt;
  }
}

@media (max-width: 768px) {
  // Header
  #header-content {
    display: none;
  }

  #header-content-responsivity {
    display: flex;
    width: 100vw;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 7vh;
  }

  // Presentation
  #presentation-sec {
    margin-top: 0vh;
    width: 100vw;
    height: 110vh;
  }

  #presentation-content {
    width: 100vw;
    height: 100vh;
    padding-right: 25px;
  }

  .title-content {
    font-size: 30pt;
  }

  .text-content {
    font-size: 15pt;
  }

  #image-presentation {
    display: none;
  }

  // Stack
  #stack-sec {
  }

  #title-stack {
    margin-left: 11vw;
  }

  .div-stack-divs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
  }

  // Project
  #project-sec {
  }

  #title-project {
    font-size: 24pt;
    margin-left: 3vh;
  }

  #img-project {
    display: none;
  }

  #carousel {
    width: 98vw;
  }

  // Contact
  #contact-sec {
  }

  #title-contact {
    margin-bottom: -10vh;
    margin-left: 28vw;
  }

  #contact-content {
    width: 100vw;
  }

  #contact-ways {
    min-width: 97vw;
    height: 70vh;
    justify-content: center;
  }

  .email-cel {
    font-size: 11pt;
    flex-wrap: wrap;
  }

  #link-wpp {
    font-size: 10pt;
  }

  // Footer
  #footer-content {
    // padding-top: 10vh;
  }
}

@media (max-width: 2560px) {
}
